@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
     /* ====== Colors === = */ 
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    --background2-color: #DADADA;

    /* ====== Transition === = */ 
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
}
body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
}
nav.close{
    width: 73px;

}
nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}
nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);
}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
}
.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);

}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .switch:before{
     left: 20px;
}
.content-section .dashboard{
    position: relative;
    left: 250px;
    background-color: #F4F5F9;
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px; 
    display: flex; 
    width: calc(100% - 250px); 
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: #F4F5F9;
    transition: var(--tran-05);
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.dashboard .top .search-box input{ 
    position: absolute; 
    border: 1px solid var(--border-color); 
    background-color: var(--panel-color); 
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.dashboard .top .search-box i{
    position: absolute; 
    left: 15px;
    z-index: 10;
    font-size: 22px;
    top: 50%; 
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.top img{
    width: 30px;
    border-radius: 50%;
}
.dashboard .dash-content{
    padding-top: 10px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 72px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px; 
    background-color: var(--primary-color); 
    border-radius: 6px; 
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--panel-color);
   /* box-shadow: 2px 4px 3px grey;*/
    border: 1px solid var(--border-color);
}
.box .icon-text {
    display: flex;
    gap: 5px;
    align-items: center;
}
.box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color)
}
.box .weight-number{
    white-space: nowrap;
    font-size: 60px;
    font-weight: 500;
    color: var(--text-color)
}
.box i {
    font-size: 35px;
    color: var(--text-color);
}
.dash-content .boxes .box .skill{
    /*Start here*/
    width: 120px;
    height: 120px;
    position: relative;
}
.dash-content .boxes .box .skill .outer{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 15px;
    /*box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), -6px 6px 10px -1px rgba(255, 255, 255,0.7)*/
}
.dash-content .boxes .box .skill .inner{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    align-items:  center;
    justify-content: center;
   /* box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                    inset -4px 4px 6px -1px rgba(255,255,255,0.7),
                    -0.5px -0.5px 0px rgba(255,255,255,1),
                    0.5px 0.5px 0px rgba(0,0,0,0.15), 
                    0px 12px 10px 10px rgba(0,0,0,0.05);*/
}
.dash-content .boxes .box .skill svg circle{
    cx: 60;
    cy: 60;
    r: 50;
    fill: none;
    stroke: blue;
    stroke-width: 15px;
    stroke-dasharray: 439.82;
    stroke-dashoffset: 439.82;
    animation: anim 2s linear forwards;
}
.dash-content .boxes .box .skill svg{
    width: 120;
    height: 120;
    position: absolute;
    top: 0;
    left: 0;
}
.dash-content .boxes .box .skill .inner .number{
   font-weight: 350;
   color: var(--text-color); 
}
@keyframes anim{
    100%{
        stroke-dashoffset: 165;
    }
}
.dash-content .boxes .box .mymacros-text .mymacros li {
    list-style-type: none;
    align-items: flex-start;
}
.dash-content .boxes .box .mymacros-text{
    /*I started here*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;    
}
.dash-content .boxes .box .mymacros-text .mymacros .protein,
.dash-content .boxes .box .mymacros-text .mymacros .carbs,
.dash-content .boxes .box .mymacros-text .mymacros .fats {
    height: 100%; 
}

.dash-content .boxes .box .mymacros-text .mymacros .bar{
    display: block;
    height: 17px;
    border: 1px solid blue;
    border-radius: 10px;
    overflow: hidden;
    width: 280px;
}
.dash-content .boxes .box .mymacros-text .mymacros .bar span{
    height: 20px;
    float: left;
    background: #0E4BF1;
}
.dash-content .boxes .box .mymacros-text .mymacros .bar .protein{
    width: 90%;
    animation: protein 3s;
}
.dash-content .boxes .box .mymacros-text .mymacros .bar .carbs{
    width: 50%;
    animation: carbs 3s;
}
.dash-content .boxes .box .mymacros-text .mymacros .bar .fats{
    width: 30%;
    animation: fats 3s;
}
@keyframes protein{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes carbs{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}@keyframes fats{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
.dash-content .activity .columns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dash-content .activity .columns .column {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: calc(100% / 2 - 15px);
    padding: 15px 20px;
    background-color: var(--panel-color);
}
.dash-content .activity .columns .column .icon-text{
    display: flex;
    gap: 5px;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 20px;
}
.column .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);

}
.column .btn{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}
.column .btn:hover {
    background-color: #0056b3; 
}

.dash-content .activity .columns .workout{
    position: relative;
    padding: 15px 20px;
    background-color: #F4F5F9;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*-----------------------meals-page--------------------------------------------*/
.dashboard .meal-content{
    padding-top: 10px;
}
.meal-content .title{
    display: flex;
    align-items: center;
    margin: 72px 0 30px 0;
}
.meal-content .title i{
    position: relative;
    height: 35px;
    width: 35px; 
    background-color: var(--primary-color); 
    border-radius: 6px; 
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.meal-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.meal-content .meal-form{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.meal-content .items{
    width: auto;
    padding: 15px 20px;
    border-radius: 12px;
    background-color: var(--panel-color);
    border: 1px solid var(--border-color);
}
.meal-content .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color)
}
.meal-content .meal-form .foodSelect{
    position: relative;
    height: 45px;
    width: 350px;
    margin: 0 10px;

}
.meal-content .meal-form .foodAmount{
    position: relative;
    height: 45px;
    width: auto;
    margin: 0 10px;
}
.meal-content .add-item .addFood{
    position: relative;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.meal-content .add-item .addFood:hover{
    background-color: #03376e;
}
.meal-content .add-items{
    position: relative;
    padding: 15px 20px;
    background-color: #F4F5F9;
    border-radius: 8px;
}
.meal-content .add-items div{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 5px;
}
.meal-content .add-items .mealitems button{
    margin: 0 10px;
    position: relative;
    height: 30px;
}
.meal-content .add-items .mealbtn button{
    margin-top: 10px;
    height: 45px;
    width: 100px;
    color: #fff;
    background-color: rgb(98, 205, 98);
    border: none;
    border-radius: 5px;
}
.meal-content .add-items .mealbtn button:hover{
    background-color: rgb(75, 157, 75);    
}
.meal-content .added-meals .meals-list{
    width: auto;
    background-color: var(--panel-color);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding: 15px 20px;
}
.meal-content .added-meals .meals-list .mealList div{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 5px;
    background-color: #F4F5F9;
    border-radius: 8px;
    padding: 10p 0px;
}
/*-----------------workout-section------------------*/
.dashboard .workout-content{
    padding-top: 10px;
}
.dashboard .workout-content .title{
    display: flex;
    align-items: center;
    margin: 72px 0 30px 0;
}
.dashboard .workout-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.workout-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.workout-content .workout-splits{
    width: auto;
    padding: 15px 20px;
    border-radius: 12px;
    background-color: var(--panel-color);
    border: 1px solid var(--border-color);
}
.workout-content .workout-splits .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color)
}
.workout-splits .box{
    position: relative;
    height: 35px;
    width: auto;
    margin: 0 10px;   
    margin-bottom: 5px;
}
.workout-splits .exercise-btn .addExercise{
    position: relative;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 5px;
}
.workout-splits .exercise-btn .addExercise:hover{
    background-color: #03366d; 
}
.workout-splits .workout-btn{
    justify-content: center;
    display: flex;
    margin-top: 9px;
}
.workout-btn .addWorkout{
    margin-top: 10px;
    height: 45px;
    width: 100px;
    color: #fff;
    background-color: rgb(98, 205, 98);
    border: none;
    border-radius: 5px;
}
.addWorkout:hover{
    background-color: rgb(73, 137, 73);
}
.workout-content .workouts .workout-list .workoutList div{
    width: auto;
    background-color: var(--panel-color);
    border-radius: 12px;
    border: 1px solid var(--border-color);
    padding: 15px 20px;
    margin-bottom: 5px;
}
/*------------------------------------------goals-section--------------------------------*/
.dashboard .goals-content{
    padding-top: 10px;
}
.dashboard .goals-content .title{
    display: flex;
    align-items: center;
    margin: 72px 0 30px 0;
}
.dashboard .goals-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.goals-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.goals-content .weight-box{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 15px 20px;
    border-radius: 12px;
    background-color: var(--panel-color);
    border: 1px solid var(--border-color);
    margin-bottom: 5px;

}
.goals-content .weight-box .weight{
    color: #007bff;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
}
.weight-box .weight-input{
    position: relative;
    height: 32px;
}
.weight-box .addWeight{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #007bff;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.addWeight:hover{
    background-color: #0056b3; 
}
.goals-content .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color)
}
/**-------------------myfoods-section-------------*/
.dashboard .myfoods-content{
    padding-top: 10px;
}
.dashboard .myfoods-content .title{
    display: flex;
    align-items: center;
    margin: 72px 0 30px 0;
}
.dashboard .myfoods-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.myfoods-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.myfoods-content .FoodTable{
    width: 80%;
    padding: 15px 20px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.FoodTable th, .FoodTable td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}
.FoodTable th{
    background-color: #4CAF50;
    color: white;
    font: bold;
}
.FoodTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.FoodTable tr:hover {
    background-color: #f1f1f1;
}
.myfoods-content .log-item{
    width: 80%;
    padding: 15px 20px;
    margin: 20px auto;
    border-radius: 12px;
    background-color: var(--panel-color);
    border: 1px solid var(--border-color);
    margin-bottom: 5px;

}
.log-item .food-{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.log-item .box{
    width: auto;
    height: 30px;
}
.log-item .food-button{
    justify-content: center;
    display: flex;
}
.food-button .add-item{
    height: 45px;
    width: 100px;
    margin-top: 10px;
    background-color: #4CAF50;
    border-radius: 5px;
    color: #FFF;
    border: none;
}
.add-item:hover{
    background-color: #338435;   
}