<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
    <head> 
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>Website</title> 
        <link rel="stylesheet" href="styles.css"> 
    </head>
    
    <body>
        <div class="index-page">
            <header class="header">
                <a href="#" class="logo">MyFitnessTracker</a>
                <nav class="navbar">
                    <a href="#">Home</a>
                    <a href="#">Gallery</a>
                    <a href="#">Blog</a>
                    <a href="#">About</a>
                    <a href="#">Contact</a>
                </nav>
            </header>
    
            <div class="content"> 
                <h1>Build Your Dream Physique</h1>
                <p>Welcome to My Fitness Tracker where you can effortlessly track your workouts,<br> create training plans, and explore new routines to help you achieve your goals. </p>
                <div>
                    <button type="button"><span></span>Get Started</button>
                </div>
            </div>        
        </div>
        <div class="login">
            <div class="image">
                <img src="images/login.jpg" alt="Fitness-image">
            </div>
            <div class="form-container">
                <div class="login-form">
                    <form id="/loginform" action="/loginform" method="post" class="loginform">
                        <h1>Hello, Friend</h3>
                        <h2>Sign In</h5>
                        <br>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="username" class="username" id="username" placeholder="Enter your username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                               <input type="password" name="password" class="password" id="password" placeholder="Enter your password">
                        </div>
                        <div class="form-group">
                            <button type="submit">Login</button>
                        </div>
                        <span>Not a member?</span>
                        <button id="show-signup" type="button">Sign Up</button>
                    </form>
                </div>    
            </div>    
        </div>
        <div class="overlay"></div>
        <div class="register-section">
            <button class="close-btn" type="button">&times;</button>
            <div class="form-section">
                <h2>Register here</h2>
                <form action="/registerform" method="post" class="register-form">
                    <div class="form-group2">
                        <label for="username">Username</label>
                        <input type="text" name="username" class="username" id="username" placeholder="Enter your username">
                    </div>
                    <div class="form-group2">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="password" id="password" placeholder="Enter your username">
                    </div>
                    <h5>Enter your weight and nutrition goals. Get your estimates <a href="wwww.calculator.net/macro-calculatot.html">here</a> </h5>
                    
                    <div class="form-group2">
                        <label for="currentweight">Current weight</label>
                        <input type="number" name="currentweight" class="currentweight" id="currentweight" placeholder="Enter your current weight">
                    </div>
                    <div class="form-group2">
                        <label for="weightgoal">Weight Goal</label>
                        <input type="number" name="weightgoal" class="weightgoal" id="weightgoal" placeholder="Enter your weight goal">
                    </div>
                    <div class="form-group2">
                        <label for="kilojoules">Kilojoules</label>
                        <input type="number"  name="kilojoules" class="kilojoules" id="kilojoules" placeholder="Enter your kilojoules per day">
                    </div>
                    <div class="form-group2">
                        <label for="protein">Protein</label>
                        <input type="number" name="protein" class="protein" id="protein" placeholder="Enter your protein per day">
                    </div>
                    <div class="form-group2">
                        <label for="carbs">Carbohydrates</label>
                        <input type="number" name="carbs" class="carbs" id="carbs" placeholder="Enter your fats per day">
                    </div>
                    <div class="form-group2">
                        <label for="fats">Fats</label>
                        <input type="number" name="fats" class="fats" id="fats" placeholder="Enter your fats per day">
                    </div>
    
                    <div class="form-group2">
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            const signupButton = document.querySelector("#show-signup");
            const closeButton = document.querySelector(".close-btn");
            const registerSection = document.querySelector(".register-section");
            const overlay = document.querySelector(".overlay");
            const contentToBlur = document.querySelectorAll(".index-page, .login");

            signupButton.addEventListener("click", (event) => {
                event.preventDefault();
                registerSection.classList.add("active");
                overlay.classList.add("active");
                contentToBlur.forEach((element) => element.classList.add("blur-effect"));
            });

            closeButton.addEventListener("click", () => {
                registerSection.classList.remove("active");
                overlay.classList.remove("active");
                contentToBlur.forEach((element) => element.classList.remove("blur-effect"));
            });

        </script>
    </body>
    
</html>